<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /landing_page/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^assets/index-[A-Za-z0-9_-]+\.js$ /landing_page/assets/index-D4c4yJbd.js [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^assets/index-[A-Za-z0-9_-]+\.css$ /landing_page/assets/index-C_lAnRhV.css [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /landing_page/index.html [L]
</IfModule>

<IfModule mod_headers.c>
  <Files "index.html">
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "0"
  </Files>
</IfModule>
